<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icar.inventory">

    <!-- 显示系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 在 屏幕最顶部显示addview-->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:name=".application.OurApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"


        android:supportsRtl="true">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:theme="@style/myActionBarStyle"
            android:icon="@drawable/ic_launcher">
        <!--<intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->
    </activity>
    <activity
        android:name=".OptionShopActivity"
        android:label="@string/select_store"
        android:theme="@style/AppTheme" />

    <!-- 扫描Activity -->
        <activity
            android:name="com.zbar.lib.Activity.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.zbar.lib.Activity.Test"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".BindActivity"
            android:label="@string/title_activity_bind"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatrolActivity"
            android:label="@string/title_activity_patrol"
            android:theme="@style/AppTheme" />
        <activity android:name=".PartsDetailsActivity"
            android:label="@string/title_activity_parts_details"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".PermissionsActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>